DB_URL=jdbc:mysql://127.0.0.1:3306/jaego?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
DB_USERNAME=jaego
DB_PASSWORD=prod-db-password
MAIL_USERNAME=prod-email@gmail.com
MAIL_PASSWORD=prod-gmail-app-password
IMAGE_BASE_DIR=/home/ubuntu/jaegokeeper/upload/img
CORS_ALLOWED_ORIGINS=https://jaegokeeper-blush.vercel.app
