<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jaegokeeper.hwan.item.mapper.ItemMapper">

    <insert id="insertItem"
            parameterType="com.jaegokeeper.hwan.item.domain.Item"
            useGeneratedKeys="true"
            keyProperty="itemId">

        INSERT INTO item (
            store_id,
            item_name,
            image_id,
            is_active,
            is_pinned,
            created_at,
            updated_at

        )
        VALUES (
                   #{storeId},
                   #{itemName},
                   #{imageId},
                    b'1',
                    b'0',
                    CURRENT_TIMESTAMP,
                    CURRENT_TIMESTAMP
               )
    </insert>

    <update id="softDeleteItem">
        UPDATE item
        SET is_active = b'0',
            updated_at = CURRENT_TIMESTAMP
        WHERE store_id = #{storeId}
        AND item_id = #{itemId}
        AND is_active = b'1'
    </update>

    <select id="countItemList" resultType="int">
        SELECT COUNT(*)
        FROM item i
        JOIN stock s
        ON s.item_id = i.item_id

        <where>
            i.store_id = #{storeId}
            AND i.is_active = b'1'

            <if test="excludeZero != null and excludeZero">
                AND s.stock_amount > 0
            </if>

            <if test="filter != null and filter.name() == 'FAVORITE'">
                AND i.is_pinned = 1
            </if>

            <if test="filter != null and filter.name() == 'LOW_STOCK'">
                AND s.stock_amount &lt; (
                SELECT b.buffer_amount
                FROM buffer b
                WHERE b.item_id = i.item_id
                )
            </if>
            <if test="filter != null and filter.name() == 'HAS_REQUEST'">
                AND EXISTS(
                SELECT 1
                FROM request r
                WHERE r.item_id = i.item_id
                AND r.is_active = b'1'
                AND r.request_status NOT IN ('CANCEL','DONE','CONFIRM')
                )
            </if>
            <if test="filter != null and filter.name() == 'BAD_STOCK'">
                AND (
                SELECT MAX(l.created_at)
                FROM log l
                WHERE l.item_id = i.item_id
                AND l.log_type IN('IN','OUT')
                ) &lt; DATE_SUB(CURRENT_TIMESTAMP, INTERVAL 3 MONTH)
            </if>

            <if test="keyword != null">
                AND i.item_name LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
    </select>

    <select id="findItemList"
            resultType="com.jaegokeeper.hwan.item.dto.response.ItemListResponse">
        SELECT
            i.item_id   AS itemId,
            s.stock_id AS stockId,
            i.item_name AS itemName,
            i.image_id  AS imageId,
            i.is_pinned AS isPinned,
            s.stock_amount AS stockAmount,

            r.request_id AS latestRequestId,
            r.request_type AS latestRequestType,
            r.request_amount AS latestRequestAmount,
            r.request_status AS latestRequestStatus,
            r.created_at AS latestRequestCreatedAt

        FROM item i
        JOIN stock s
        ON s.item_id = i.item_id

        LEFT JOIN request r
        ON r.item_id = i.item_id
        AND r.created_at = (
            SELECT MAX(r2.created_at)
            FROM request r2
            WHERE r2.item_id = i.item_id
        )

        <where>
            i.store_id = #{storeId}
            AND i.is_active = b'1'

            <if test="excludeZero != null and excludeZero">
                AND s.stock_amount > 0
            </if>

            <if test="filter != null and filter.name() == 'FAVORITE'">
                AND i.is_pinned = 1
            </if>
            <if test="filter != null and filter.name() == 'LOW_STOCK'">
                AND s.stock_amount &lt; (
                SELECT b.buffer_amount
                FROM buffer b
                WHERE b.item_id = i.item_id
                )
            </if>
            <if test="filter != null and filter.name() == 'HAS_REQUEST'">
                AND EXISTS(
                SELECT 1
                FROM request r3
                WHERE r3.item_id = i.item_id
                AND r3.is_active = b'1'
                AND r3.request_status NOT IN ('CANCEL','DONE','CONFIRM')
                )
            </if>
            <if test="filter  != null and filter.name() == 'BAD_STOCK'">
                AND (
                SELECT MAX(l.created_at)
                FROM log l
                WHERE l.item_id = i.item_id
                AND l.log_type IN('IN','OUT')
                ) &lt; DATE_SUB(CURRENT_TIMESTAMP, INTERVAL 3 MONTH)
            </if>

            <if test="keyword != null">
                AND i.item_name LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>

        ORDER BY i.item_id DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="findItemDetail" resultType="com.jaegokeeper.hwan.item.dto.response.ItemDetailResponse">
        SELECT
            i.item_id   AS itemId,
            i.item_name AS itemName,
            i.image_id AS imageId,
            i.is_pinned AS isPinned,
            s.stock_amount  AS stockAmount,
            b.buffer_amount AS bufferAmount,
            l.log_type AS lastLogType,
            l.created_at AS lastLogAt

        FROM item i
        JOIN stock s
            ON s.item_id = i.item_id

        LEFT JOIN buffer b
         ON b.item_id = i.item_id

        LEFT JOIN log l
            ON l.item_id = i.item_id
        AND l.created_at = (
            SELECT MAX(l2.created_at)
            FROM log l2
            WHERE l2.item_id = i.item_id
                    )

        WHERE i.store_id = #{storeId}
          AND i.item_id  = #{itemId}
          AND i.is_active   = b'1'
    </select>

    <update id="updateItem">
        UPDATE item
        SET item_name = #{itemName},
            is_pinned = #{isPinned},
            image_id = #{imageId},
            updated_at = CURRENT_TIMESTAMP
        WHERE store_id = #{storeId}
            AND item_id = #{itemId}
            AND is_active = b'1'
    </update>
    
    <select id="countByStoreIdAndItemId" resultType="int">
        SELECT COUNT(*)
        FROM item
        WHERE item_id = #{itemId}
        AND store_id = #{storeId}
        AND is_active = b'1'
    </select>

    <update id="togglePin">
        UPDATE item
        SET is_pinned =
            CASE
            WHEN is_pinned = b'1' THEN b'0'
            ELSE b'1'
        END,
        update_at = CURRENT_TIMESTAMP
        WHERE store_id = #{storeId}
        AND item_id = #{itemId}
        AND is_active = b'1'
    </update>

</mapper>
