<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jaegokeeper.hwan.item.mapper.ItemMapper">

    <insert id="insertItem"
            parameterType="com.jaegokeeper.hwan.item.domain.Item"
            useGeneratedKeys="true"
            keyProperty="itemId">

        INSERT INTO item (
            store_id,
            item_name,
            image_id,
            created_at
        )
        VALUES (
                   #{storeId},
                   #{itemName},
                   #{imageId},
                    NOW()
               )
    </insert>

    <update id="softDeleteItem">
        UPDATE item
        SET is_active = b'0',
            updated_at = NOW()
        WHERE store_id = #{storeId}
        AND item_id = #{itemId}
        AND is_active = b'1'
    </update>

    <select id="countItemList" resultType="int">
        SELECT COUNT(*)
        FROM item i
        JOIN stock s
        ON s.item_id = i.item_id
        LEFT JOIN buffer b
        ON b.item_id = i.item_id

        <where>
            i.store_id = #{storeId}
            AND i.is_active = b'1'

            <if test="filter != null and filter == 'FAVORITE'">
                AND i.is_pinned = 1
            </if>
            <if test="filter != null and filter == 'LOW_STOCK'">
                AND s.stock_amount &lt; b.buffer_amount
            </if>
            <if test="filter != null and filter == 'HAS_REQUEST'">
                AND EXISTS(
                SELECT 1
                FROM request r
                WHERE r.item_id = i.item_id
                AND r.is_active = b'1'
                AND r.request_status NOT IN ('CANCEL','DONE','CONFIRM')
                )
            </if>
            <if test="filter != null and filter == 'BAD_STOCK'">
                AND EXISTS (
                SELECT 1
                FROM (
                SELECT MAX(l.created_at) AS last_inout
                FROM log l
                WHERE l.item_id = i.item_id
                AND l.log_type IN ('IN','OUT')
                ) t
                WHERE t.last_inout &lt; DATE_SUB(NOW(), INTERVAL 1 MONTH)
                )
            </if>

            <if test="keyword != null">
                AND i.item_name LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
    </select>

    <select id="findItemList"
            resultType="com.jaegokeeper.hwan.item.dto.ItemListDTO">
        SELECT
        i.item_id   AS itemId,
        i.item_name AS itemName,
        s.stock_id AS stockId,
        s.stock_amount  AS stockAmount,
        s.is_pinned AS isPinned,
        im.path        AS imageUrl,
        r.request_type AS latestRequestType
        FROM item i
        JOIN stock s
        ON s.item_id = i.item_id

        LEFT JOIN image im
            ON im.image_id = i.image_id
        AND im.is_active = b'1'

        LEFT JOIN buffer b
        ON b.item_id = i.item_id

        LEFT JOIN request r
        ON r.request_id = (
            SELECT r2.request_id
            FROM request r2
            WHERE r2.item_id = i.item_id
            AND r2.is_active = b'1'
            AND r2.request_status NOT IN ('CANCEL','DONE','CONFIRM')
            ORDER BY
                r2.request_date DESC,
                r2.created_at DESC
            LIMIT 1
        )

        <where>
            i.store_id = #{storeId}
            AND i.is_active = b'1'

            <if test="filter != null and filter == 'FAVORITE'">
                AND i.is_pinned = 1
            </if>
            <if test="filter != null and filter == 'LOW_STOCK'">
                AND s.stock_amount &lt; b.buffer_amount
            </if>
            <if test="filter != null and filter == 'HAS_REQUEST'">
                AND EXISTS(
                SELECT 1
                FROM request r3
                WHERE r3.item_id = i.item_id
                AND r3.is_active = b'1'
                AND r3.request_status NOT IN ('CANCEL','DONE','CONFIRM')
                )
            </if>
            <if test="filter  != null and filter == 'BAD_STOCK'">
                AND EXISTS (
                SELECT 1
                FROM (
                SELECT MAX(l.created_at) AS last_inout
                FROM log l
                WHERE l.item_id = i.item_id
                AND l.log_type IN ('IN','OUT')
                ) t
                WHERE t.last_inout &lt; DATE_SUB(NOW(), INTERVAL 1 MONTH)
                )
            </if>

            <if test="keyword != null">
                AND i.item_name LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>

        ORDER BY i.item_id DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="findItemDetail"
            resultType="com.jaegokeeper.hwan.item.dto.ItemDetailDTO">

        SELECT
            i.item_id   AS itemId,
            s.stock_id  AS stockId,
            i.item_name AS itemName,
            s.stock_amount  AS stockAmount,
            s.is_pinned AS isPinned,
            im.path AS imageUrl,
            b.buffer_amount AS bufferAmount,
            l.log_type AS lastLogType,
            l.created_at AS lastLogAt

        FROM item i
        JOIN stock s
            ON s.item_id = i.item_id

        LEFT JOIN buffer b
         ON b.item_id = i.item_id

        LEFT JOIN image im
         ON im.image_id = i.image_id
        AND im.is_active = b'1'

        LEFT JOIN log l
            ON l.log_id = (
                SELECT MAX(l2.log_id)
                FROM log l2
                WHERE l2.item_id = i.item_id
                    )
        WHERE i.store_id = #{storeId}
          AND i.item_id  = #{itemId}
          AND i.is_active   = b'1'
    </select>

    <update id="updateItem">
        UPDATE item
        SET item_name = #{itemName},
            image_id = #{imageId},
            updated_at = NOW()
        WHERE store_id = #{storeId}
            AND item_id = #{itemId}
            AND is_ative = b'1'
    </update>


</mapper>
