<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jaegokeeper.hwan.request.mapper.RequestMapper">

    <insert id="insertRequest"
            parameterType="com.jaegokeeper.hwan.request.domain.Request"
            useGeneratedKeys="true"
            keyProperty="requestId">

        INSERT INTO request(
                            stock_id,
                            alba_id,
                            request_amount,
                            request_date,
                            request_type,
                            request_status
        )
        VALUES (
                #{stockId},
                #{albaId},
                #{requestAmount},
                #{requestDate},
                #{requestType},
                #{requestStatus}
               )
    </insert>

    <select id="findRequestList" resultType="com.jaegokeeper.hwan.request.dto.RequestListDTO">
        SELECT
            r.request_id AS requestId,
            r.request_type AS requestType,
            i.item_name AS itemName,
            r.request_amount AS requestAmount,
            r.request_date AS requestDate,
            a.alba_name AS albaName,
            r.request_status AS requestStatus,
            r.created_at AS createdAt
        FROM request r
        JOIN stock s
        ON r.stock_id = s.stock_id
        JOIN item i
        ON s.item_id = i.item_id
        JOIN alba a
        ON r.alba_id = a.alba_id

        <where>
            s.store_id = #{storeId}
        AND r.del_yn = b'0'

        <if test="requestType != null">
            AND r.request_type = #{requestType}
        </if>

        <if test="requestStatus != null">
            AND r.request_status = #{requestStatus}
        </if>

        </where>

        ORDER BY r.created_at DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="countRequestList" resultType="long">
        SELECT COUNT(*)
        FROM request r
        JOIN stock s ON r.stock_id = s.stock_id
        <where>
            s.store_id = #{storeId}
        AND r.del_yn = b'0'

        <if test="requestType != null">
            AND r.request_type = #{requestType}
        </if>
        <if test="requestStatus != null">
            AND r.request_status = #{requestStatus}
        </if>
        </where>
    </select>


    <!--임시 요청용 알바 리스트-->
    <select id="findAlbaOptionsForRequest" resultType="com.jaegokeeper.hwan.alba.dto.AlbaOptionDTO">
        SELECT
            a.alba_id AS albaId,
            a.alba_name AS albaName
        FROM alba a
        WHERE a.store_id = #{storeId}
        AND a.alba_status IN ('재직', '단기')
        ORDER BY a.alba_name ASC
    </select>

    <!--삭제-->
    <update id="softDeleteRequest">
        UPDATE request r
        JOIN stock s
        ON r.stock_id = s.stock_id
        SET r.del_yn = b'1',
            r.updated_at = NOW()
        WHERE r.request_id = #{requestId}
        AND s.store_id = #{storeId}
        AND r.del_yn = b'0'
    </update>

    <!--수정-->
    <update id="updateRequest">
        UPDATE request r
        JOIN stock s
        ON r.stock_id = s.stock_id
        SET r.request_type = #{dto.requestType},
            r.request_amount = #{dto.requestAmount},
            r.alba_id = #{dto.albaId},
            r.request_date = #{dto.requestDate},
            r.updated_at = NOW()
        WHERE r.request_id = #{requestId}
        AND s.store_id = #{storeId}
        AND r.del_yn = b'0'
        AND r.request_status = '대기'
    </update>

    <!--상태 수정-->
    <update id="updateRequestStatus">
        UPDATE request r
        JOIN stock s
        ON r.stock_id = s.stock_id
        SET r.request_status = #{dto.requestStatus},
            r.updated_at = NOW()
        WHERE r.request_id = #{requestId}
        AND s.store_id = #{storeId}
        AND r.del_yn = b'0'
    </update>

</mapper>