<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jaegokeeper.hwan.stock.mapper.SafeMapper">
    <insert id="insertSafe">
        INSERT INTO safe (stock_id, safe_quantity)
        VALUES (#{stockId}, #{safeQuantity})
    </insert>

    <update id="updateSafe">
        UPDATE safe
        SET safe_quantity = #{safeQuantity}
        WHERE stock_id = #{stockId}
    </update>
</mapper>