<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jaegokeeper.hwan.stock.mapper.StockMapper">

    <insert id="insertStock"
            parameterType="com.jaegokeeper.hwan.stock.domain.Stock"
            useGeneratedKeys="true"
            keyProperty="stockId">

        INSERT INTO stock (
            item_id,
            store_id,
            quantity,
            favorite_yn,
        )
        VALUES (
                   #{itemId},
                   #{storeId},
                   #{quantity},
                   0
               )
    </insert>

    <select id="findQuantityByStockId" resultType="Integer">
        SELECT quantity
        FROM stock s
        JOIN item i
        ON i.item_id = s.item_id
        WHERE stock_id = #{stockId}
        AND i.del_yn = b'0'
    </select>


<!--    재고 직접 조정용-->
    <update id="updateQuantity">
            UPDATE stock s
            JOIN item i
            ON i.item_id = s.item_id
            SET quantity = #{quantity},
                favorite_yn = #{favoriteYn}
            WHERE stock_id = #{stockId}
            AND i.del_yn = b'0'
    </update>

    <update id="increaseQuantity">
        UPDATE stock s
        JOIN item i
        ON i.item_id = s.item_id
        SET quantity = quantity + #{amount}
        WHERE stock_id = #{stockId}
        AND i.del_yn = b'0'
    </update>

    <update id="decreaseQuantity">
        UPDATE stock s
        JOIN item i
        ON i.item_id = s.item_id
        SET quantity = quantity - #{amount}
        WHERE stock_id = #{stockId}
        AND quantity >= #{amount}
        AND i.del_yn = b'0'
    </update>
    
    <select id="findStockIdByStoreAndItem" resultType="Integer">
        SELECT stock_id
        FROM stock s
        JOIN item i
        ON i.item_id = s.item_id
        WHERE s.store_id = #{storeId}
        AND s.item_id = #{itemId}
        AND i.del_yn = b'0'
    </select>

    <select id="countByStockIdAndStoreId" resultType="int">
        SELECT count(*)
        FROM stock s
        JOIN item i
        ON i.item_id = s.item_id
        WHERE stock_id = #{stockId}
        AND store_id = #{storeId}
        AND i.del_yn = b'0'
    </select>
</mapper>
