<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jaegokeeper.hwan.stock.mapper.StockMapper">

    <insert id="insertStock"
            parameterType="com.jaegokeeper.hwan.stock.domain.Stock"
            useGeneratedKeys="true"
            keyProperty="stockId">

        INSERT INTO stock (
            item_id,
            stock_amount,
            created_at,
            updated_at
        )
        VALUES (
                   #{itemId},
                   #{stockAmount},
                    CURRENT_TIMESTAMP,
                    CURRENT_TIMESTAMP
               )
    </insert>

    <select id="findStockAmountByItemId" resultType="Integer">
        SELECT s.stock_amount

        FROM stock s

        JOIN item i
          ON i.item_id = s.item_id
        AND i.store_id = #{storeId}
        AND i.is_active = b'1'

        WHERE s.item_id = #{itemId}
    </select>


<!--    재고 직접 조정용-->
    <update id="updateStockAmount">
        UPDATE stock s

        JOIN item i
        ON s.item_id = i.item_id
        AND i.store_id = #{storeId}
        AND i.is_active = b'1'

        SET s.stock_amount = #{amount},
        s.updated_at = CURRENT_TIMESTAMP

        WHERE s.item_id = #{itemId}
    </update>

    <!--입고-->
    <update id="increaseQuantity">
        UPDATE stock s
        JOIN item i
        ON i.item_id = s.item_id
        SET s.stock_amount = s.stock_amount + #{amount},
        s.updated_at = CURRENT_TIMESTAMP
        WHERE s.item_id = #{itemId}
        AND i.store_id = #{storeId}
        AND i.is_active = b'1'
    </update>

    <!--출고-->
    <update id="decreaseQuantity">
        UPDATE stock s
        JOIN item i
        ON i.item_id = s.item_id
        SET s.stock_amount = s.stock_amount - #{amount},
        s.updated_at = CURRENT_TIMESTAMP
        WHERE s.item_id = #{itemId}
        AND i.store_id = #{storeId}
        AND s.stock_amount >= #{amount}
        AND i.is_active = b'1'

    </update>

    <select id="findStockIdByItem" resultType="Integer">
        SELECT stock_id
        FROM stock s
        JOIN item i
        ON i.item_id = s.item_id
        WHERE s.item_id = #{itemId}
        AND i.is_active = b'1'
    </select>

    <!--재고 상세 조회-->
    <select id="findStockDetail" resultType="com.jaegokeeper.hwan.stock.dto.StockDetailResponse">
        SELECT
        s.stock_id,
        s.item_id,
        i.item_name,
        s.stock_amount,
        s.created_at,
        s.updated_at

        FROM stock s

        JOIN item i
        ON s.item_id = i.item_id

        WHERE
        s.item_id = #{itemId}
        AND i.store_id = #{storeId}
        AND i.is_active = b'1'
    </select>
</mapper>
