<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jaegokeeper.psj.mapper.AlbaMapper">

    <!-- 알바생 관리페이지(list) -->
    <!-- 전체 알바 조회 -->
    <select id="selectAllAlba" resultType="com.jaegokeeper.psj.dto.AlbaListDto">
        SELECT
        alba.alba_id AS albaId,
        work.work_id AS workId,
        work.work_status AS workStatus,
        work.work_date AS workDate,
        alba.alba_name AS albaName,
        alba.alba_phone AS albaPhone,
        alba.alba_status AS albaStatus
        FROM alba as alba
        LEFT JOIN work as work ON alba.alba_id = work.alba_id
        <where>
            <if test="storeId != null">
                alba.store_id = #{storeId}
            </if>
        </where>
        ORDER BY alba.alba_id DESC
    </select>

    <!-- 알바생 상세 페이지(클릭 시) -->
    <select id="getAlbaById" parameterType="int" resultType="com.jaegokeeper.psj.dto.AlbaDetailDto">
        SELECT alba_id AS albaId,
        store_id AS storeId,
        alba_name AS albaName,
        alba_phone AS albaPhone,
        alba_status AS albaStatus
        FROM alba
        WHERE alba_id = #{albaId}
    </select>


    <!-- 알바생 스토어 별로 조회하는 페이지 -->
    <select id="getAlbaByStore" parameterType="int" resultType="com.jaegokeeper.psj.dto.AlbaDetailDto">
        SELECT alba_id AS albaId,
        store_id AS storeId,
        alba_name AS albaName,
        alba_phone AS albaPhone,
        alba_status AS albaStatus
        FROM alba
        WHERE alba_id = #{storeId}
    </select>


    <!-- 알바생 등록 페이지 -->
    <!-- 알바 이름 중복 체크 -->
    <select id="existsByAlbaName" parameterType="string" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM alba
        WHERE alba_name = #{albaName}
    </select>
    <!--  알바 ID 중복 체크  -->
    <select id="existsAlbaById" parameterType="int" resultType="boolean">
        SELECT COUNT(*)
        FROM alba
        WHERE alba_id = #{albaId}
    </select>
    <!-- 알바 전화번호 중복 체크 -->
    <select id="existsByAlbaPhone" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM alba
        WHERE alba_phone = #{albaPhone}
    </select>
    <!-- 알바 저장 -->
    <insert id="insertAlba" parameterType="com.jaegokeeper.psj.dto.AlbaDetailDto"
            useGeneratedKeys="true" keyProperty="albaId">
        INSERT INTO alba (store_id, alba_name, alba_phone, alba_status, created_at, image_id)
        VALUES (#{storeId}, #{albaName}, #{albaPhone}, #{albaStatus}, NOW(), #{imageId})
    </insert>
    <select id="existsByStoreId" parameterType="int" resultType="boolean">
        SELECT EXISTS (
        SELECT 1
        FROM store
        WHERE store_id = #{storeId}
        )
    </select>
    <!-- 알바 수정 -->
    <update id="updateAlba" parameterType="com.jaegokeeper.psj.dto.AlbaDetailDto">
        UPDATE alba
        <set>
            <if test="storeId != null">store_id = #{storeId},</if>
            <if test="albaName != null">alba_name = #{albaName},</if>
            <if test="albaPhone != null">alba_phone = #{albaPhone},</if>
            <if test="albaStatus != null">alba_status = #{albaStatus},</if>
            updated_at = NOW()
        </set>
        WHERE alba_id = #{albaId}
    </update>

    <!-- 알바 삭제 -->
    <update id="deleteAlba">
        UPDATE alba
        SET is_active = 0,
            updated_at = NOW()
        WHERE alba_id = #{albaId}
    </update>

</mapper>