<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jaegokeeper.ddan.user.mapper.UserMapper2">

    <select id="countByEmail" resultType="int">
        SELECT COUNT(*)
        FROM user
        WHERE user_mail = #{email}
    </select>

    <insert id="insertUser" parameterType="com.jaegokeeper.ddan.user.dto.UserDTO">
        INSERT INTO user (
            user_name,
            user_pass,
            user_mail,
            user_phone,
            login_type
        ) VALUES (
            #{userName},
            #{userPass},
            #{userMail},
            #{userPhone},
            #{loginType}
        )
    </insert>

    <select id="findUserByMail" parameterType="String" resultType="com.jaegokeeper.ddan.user.dto.UserDTO">
        SELECT
            user_name as userName,
            user_pass as userPass,
            user_mail as userMail,
            user_phone as userPhone,
            login_type as loginType
        FROM user
        WHERE user_mail = #{email}
        LIMIT 1
    </select>

</mapper>