<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jaegokeeper.psj.mapper.AlbaMapper">

    <!-- 알바생 관리페이지(list) -->
    <!-- 전체 알바 조회 -->
    <select id="selectAllAlba" parameterType="java.lang.Integer" resultType="com.jaegokeeper.psj.dto.AlbaListDto">
        SELECT
        alba.alba_id AS albaId,
        work.work_id AS workId,
        work.work_status AS workStatus,
        work.work_date AS workDate,
        alba.alba_name AS albaName,
        alba.alba_phone AS albaPhone,
        alba.alba_status AS albaStatus
        FROM alba
        LEFT JOIN work ON alba.alba_id = work.alba_id
        WHERE alba.store_id = #{storeId}
        ORDER BY alba.alba_id DESC
    </select>

    <!-- 알바생 상세 페이지(클릭 시) -->
    <!-- 알바 조회 -->
    <select id="selectAlba" parameterType="int" resultType="com.jaegokeeper.psj.dto.AlbaDetailDto">
        SELECT alba_id AS albaId,
        store_id AS storeId,
        alba_name AS albaName,
        alba_phone AS albaPhone,
        alba_status AS albaStatus
        FROM alba
        WHERE alba_id = #{albaId}
    </select>


    <!-- 알바생 등록 페이지 -->
    <!-- 알바 이름 중복 체크 -->
    <select id="existsByAlbaName" parameterType="string" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM alba
        WHERE alba_name = #{albaName}
    </select>
    <!-- 알바 전화번호 중복 체크 -->
    <select id="existsByAlbaPhone" parameterType="string" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM alba
        WHERE alba_phone = #{albaPhone}
    </select>
    <!-- 알바 저장 -->
    <insert id="insertAlba" parameterType="com.jaegokeeper.psj.dto.AlbaDetailDto"
            useGeneratedKeys="true" keyProperty="albaId">
        INSERT INTO alba (store_id, alba_name, alba_phone, alba_status)
        VALUES (#{storeId}, #{albaName}, #{albaPhone}, #{albaStatus})
    </insert>
    <select id="existsByStoreId" parameterType="int" resultType="boolean">
        SELECT EXISTS (
        SELECT 1
        FROM store
        WHERE store_id = #{storeId}
        )
    </select>
    <!-- 알바 수정 -->
    <update id="updateAlba" parameterType="com.jaegokeeper.psj.dto.AlbaDetailDto">
        UPDATE alba
        SET
        store_id = #{storeId},
        alba_name = #{albaName},
        alba_phone = #{albaPhone},
        alba_status = #{albaStatus}
        WHERE alba_id = #{albaId}
    </update>

    <!-- 알바 삭제 -->
    <delete id="deleteAlba">
        DELETE FROM alba
        WHERE alba_id = #{albaId}
    </delete>
</mapper>