<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jaegokeeper.psj.mapper.BoardMapper">

    <!--  게시판 목록 조회 페이지(타입별)  -->
    <select id="getBoardByType" resultType="com.jaegokeeper.board.dto.BoardListDto">
        SELECT board_id AS boardId,
        board_type AS boardType,
        title AS title,
        content AS content,
        writer AS writer,
        pin_yn AS pinYn,
        created_at AS createdAt,
        updated_at AS updatedAt
        FROM board
        WHERE board_type = #{boardType}
        AND is_active = true
        ORDER BY created_at DESC
    </select>

    <!--  상세 페이지  -->
    <select id="detailBoard" parameterType="int" resultType="com.jaegokeeper.board.dto.BoardListDto">
        SELECT board_id AS boardId,
        board_type AS boardType,
        title AS title,
        content AS content,
        writer AS writer,
        created_at AS createdAt,
        updated_at AS updatedAt
        FROM board
        WHERE board_id = #{boardId}
        AND is_active = true
    </select>

    <!--  등록 페이지  -->
    <insert id="insertBoard" parameterType="com.jaegokeeper.board.dto.BoardInsertDTO"
            useGeneratedKeys="true" keyProperty="boardId">
        INSERT INTO board (
                           store_id,
                           board_type,
                           title,
                           content,
                           writer,
                           created_at,
                           updated_at,
                           is_active,
                           is_pinned,
                           image_id)
        VALUES (
                #{storeId},
                #{boardType},
                #{title},
                #{content},
                #{writer},
                CURRENT_TIMESTAMP,
                CURRENT_TIMESTAMP,
                b'1',
                b'0',
                #{imageId})
    </insert>

    <!--  수정 페이지  -->
    <update id="updateBoard" parameterType="com.jaegokeeper.board.dto.BoardUpdateDTO">
        UPDATE board b
        SET b.title = #{title},
            b.content = #{content},
            b.writer = #{writer},
            b.image_id = #{imageId},
            b.updated_at = CURRENT_TIMESTAMP
        WHERE b.board_id = #{boardId}
        AND b.store_id = #{storeId}
        AND b.is_active = b'1'
    </update>

    <!--  삭제 페이지  -->
    <update id="softDeleteBoard">
        UPDATE board b
        SET b.is_active = b'0',
            b.updated_at = CURRENT_TIMESTAMP
        WHERE b.board_id = #{boardId}
          AND b.store_id = #{storeId}
          AND b.is_active = b'1'
    </update>

    <select id="countActiveByStoreIdAndBoardId" resultType="int">
        SELECT COUNT(*)
        FROM board b
        WHERE b.board_id = #{boardId}
        AND store_id = #{storeId}
        AND is_active = b'1'
    </select>
</mapper>