<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jaegokeeper.board.mapper.BoardMapper">

    <select id="countBoardList" resultType="int">
        SELECT COUNT(*)
        FROM board b
        WHERE b.store_id = #{storeId}
        AND b.is_active = b'1'

        <if test="boardType != null">
        AND b.board_type = #{boardType}
        </if>
    </select>

    <select id="findBoardList" resultType="com.jaegokeeper.board.dto.response.BoardListResponse">
        SELECT
            b.board_id AS boardId,
            b.title AS title,
            b.board_type AS boardType,
            b.is_pinned AS isPinned,
            b.writer AS writer,
            b.updated_at AS updatedAt
        FROM board b
        WHERE b.store_id = #{storeId}
        AND b.is_active = b'1'
        <if test="boardType != null">
            AND b.board_type = #{boardType}
        </if>
        ORDER BY b.is_pinned DESC, b.created_at DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <!--  상세 페이지  -->
    <select id="getBoardDetail" resultType="com.jaegokeeper.board.dto.response.BoardDetailResponse">
        SELECT
            board_id AS boardId,
            title AS title,
            content AS content,
            writer AS writer,
            updated_at AS updatedAt,
            image_id AS imageId
        FROM board
        WHERE board_id = #{boardId}
          AND store_id = #{storeId}
          AND is_active = b'1'
    </select>

    <!--  등록 페이지  -->
    <insert id="insertBoard" parameterType="com.jaegokeeper.board.domain.Board"
            useGeneratedKeys="true" keyProperty="boardId">
        INSERT INTO board (
                           store_id,
                           board_type,
                           title,
                           content,
                           writer,
                           created_at,
                           updated_at,
                           is_active,
                           is_pinned,
                           image_id)
        VALUES (
                #{storeId},
                #{boardType},
                #{title},
                #{content},
                #{writer},
                CURRENT_TIMESTAMP,
                CURRENT_TIMESTAMP,
                b'1',
                b'0',
                #{imageId})
    </insert>

    <!--  수정 페이지  -->
    <update id="updateBoard" >
        UPDATE board b
        SET b.title = #{dto.title},
            b.content = #{dto.content},
            b.writer = #{dto.writer},
            b.image_id = #{dto.imageId},
            b.updated_at = CURRENT_TIMESTAMP
        WHERE b.board_id = #{boardId}
        AND b.store_id = #{storeId}
        AND b.is_active = b'1'
    </update>

    <!--  삭제 페이지  -->
    <update id="softDeleteBoard">
        UPDATE board b
        SET b.is_active = b'0',
            b.updated_at = CURRENT_TIMESTAMP
        WHERE b.board_id = #{boardId}
          AND b.store_id = #{storeId}
          AND b.is_active = b'1'
    </update>

    <select id="countActiveByStoreIdAndBoardId" resultType="int">
        SELECT COUNT(*)
        FROM board b
        WHERE b.board_id = #{boardId}
        AND store_id = #{storeId}
        AND is_active = b'1'
    </select>
</mapper>